<h1>POST LIST</h1>
<table>
  <thead>
  <td>Title</td>
  <td>Blurb</td>
  <td>Date Released</td>
  <td>Country of Origin</td>
  <td>Showing Start</td>
  <td>Showing Ends</td>
  </thead>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.blurb %></td>
      <td><%= post.date_released %></td>
      <td><%= post.country_of_origin %></td>
      <td><%= post.showing_starts %></td>
      <td><%= post.showing_ends %></td>
      <td>
        <%= link_to 'Show', post_path(post) %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= button_to 'Delete', post_path(post), method: :delete %>
        <%= link_to 'Reviews', post_comments_path(post) %>
        <%= link_to 'New Review', new_post_comment_path(post) %>
        <%= button_to 'Delete', post_path(post),class: 'btn btn-danger', method: :delete%>
      </td>

    </tr>
  <% end %>
</table>

<%= link_to 'New', new_post_path %>